/*section 'offers'*/
section.offers {
  background-color: rgb(0, 179, 175);
  padding: 30px 0 60px;
  text-align: center;/* Avrebbe potuto ereditarla da <main> */
  color: white;
}

section.offers .col-4 {
  width: 25%;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

section.offers .column:nth-child(4n+4) {
  border-right-width: 0px;
}

section.offers .column:nth-child(4) ~ .column {
  border-bottom-width: 0px;
} 

section.offers .column.col-4 {
  padding-top: 35px;
}

section.offers .column > span {
  display: block;
  margin: 12px 0;
}