* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 82%;
  margin: auto;
}

.row {}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*nav*/
/*nav-top*/
nav > * {
  line-height: 80px;
}

.nav-top {
  background-color: rgb(244, 249, 253);
  border-bottom: 1px solid black;
}

.column {
  float: left;
}

.col-2 {
  width: 50%;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  color: black;
  padding: 30px 16px;
}

.nav-top .container .col-2:nth-child(1) ul li {
  float: left;
}

.nav-top .container .col-2:nth-child(2) ul li {
  float: right;
}

.nav-top .container .col-2:nth-child(2) ul li a {
  padding: 8px 16px;
  margin-left: 25px;
}

.button {
  border-radius: 8px;
}

.pink {
  background-color: rgb(254, 119, 90);
  color: white;
}

.border-green {
  border: 1px solid green;
  color: green;
}

/*nav-bott*/
.nav-bott img {
  vertical-align: middle;
}

.nav-bott ul {
  display: inline;
}

.nav-bott ul li {
  float: right;
}

/*hero*/
.hero {
  background: url('../img/jumbotron.png');
  background-size: cover;
  height: 578px;
}

.hero .col-2 {
  padding-top: 80px;
}

.hero .col-2 * {
  margin-bottom: 30px;
}

.hero span {
  display: block;
}

.big.button.pink {
  padding: 16px 32px;
  display: inline-block;
}

.break {
  height: 80px;
  background-color: rgb(175, 235, 228);
  border-width: 2px 0;
  border-style: solid;
  border-color: rgb(51, 71, 91);
}

/*main*/
main {
  background-color: rgb(244, 249, 253);
  text-align: center;
}

main .row, section.offers, section.partners {
  padding: 40px 0;
}

main ul, footer ul {
  list-style-type: none;
}

main ul {
  text-align: left;
}
/*main-top*/
section.main-top .row {
  padding-left: 15%;
  padding-right: 15%;
}

section.main-top .row img {
  width: 25%;
}

main .row span, .medium.button.pink, .big.button.foot, .main-middle .dbl-col-3 span {
  display: inline-block;
}

/*main-middle*/
section.main-middle .row {
  background-color: white;
  padding: 5% 10% 5% 5%;
}

.col-3 {
  width: 31%;
}

.dbl-col-3 {
  width: 62%;
  text-align: left;
  margin-left: 7%;
}

main .column.col-3 > *, .main-top h2 {
  margin-bottom: 30px;
}

main .column.col-3 img {
  height: 100px;
}

.medium.button.pink {
  padding: 16px 32px;
}

.main-middle .dbl-col-3 span {
  margin: 30px 0;
}

.dbl-col-3 div.txt {
  width: 40%;
}

.rule {
  padding: 4px 0;
  border-style: solid;
  border-color: grey;
  border-width: 0 0 2px;
}

.dbl-col-3 div.rule {
  width: 60%;
}

.main-middle .dbl-col-3 ul li {
  float: left;
  margin-right: 20px;
}

span.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(254, 119, 90);
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
  color: white;
}

/*main-bottom*/
.main-bottom .column.col-3:nth-child(2) {
  margin: 0 3.5%;
}

.main-bottom .column.col-3 {
  padding: 30px;
  background-color: white;
}

.main-bottom div.rule {
  margin-top: 60px;
}

.main-bottom .medium.button.pink {
  margin: 30px 0 0;  
}

/*section 'offers'*/
section.offers {
  background-color: rgb(0, 179, 175);
  padding-bottom: 80px;
  text-align: center;/* Avrebbe potuto ereditarla da <main> */
}

section.offers, footer {
  color: white;
}

section.offers .row > span {
  display: inline-block;
  margin: 30px 0;
}

.col-4 {
  width: 25%;
}

section.offers .col-4, footer div.lang {
  border-style: solid;
  border-color: white;
}

section.offers .col-4 {
  border-width: 0 1px 1px 0;
}

section.offers .column:nth-child(4n+4) {
  border-right-width: 0px;
}

section.offers .column:nth-child(4) ~ .column {
  border-bottom-width: 0px;
} 

section.offers .column.col-4 {
  padding-top: 35px;
}

section.offers .column > span {
  display: block;
  margin: 12px 0;
}

section.offers .column.col-4 > span:first-of-type {
  font-size: 35px;
  font-weight: bold;
}
 
/*section 'partners'*/
section.partners .clearfix:nth-child(1) .col-2:nth-child(1) {
  text-align: center;
}
section.partners .column.col-2 > div span:first-of-type {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
section.partners .clearfix:nth-child(1) .col-2:nth-child(1) h2 {
  margin-bottom: 30px;
}

section.partners .clearfix:nth-child(2) {
  padding-top: 60px;
}

section.partners .clearfix:nth-child(2) .col-2:nth-child(1) * {
  margin-bottom: 30px;
}

section.partners span {
  display: block;
}

section.partners .logos img {
  width: 130px;
  vertical-align: middle;
  padding: 10px;
}

section.partners .clearfix:nth-child(2) .col-2:nth-child(2) img {
  width: 42%;
  display: block;
  margin: 0 auto;
}

/*footer*/
footer {
  background-color: rgb(50, 73, 91);
}

footer .column.col-4 {
  padding: 40px 1.5%;
}

footer .row {
  margin: 0 -1.5%;
}

footer div.content h4 {
  margin-bottom: 30px;
}

footer div.content ul li {
  margin-bottom: 15px;
}

footer ul li a {
  color: white;
}

.big.button.foot {
  padding: 16px 16px;
  background-color: rgb(218, 222, 224);
  color: rgb(50, 73, 91);
  margin-top: 10px;
}

footer div.lang {
  width: 100%;
  text-align: center;
  line-height: 60px;
  border-width: 0 0 1px;
  padding-top: 30px;
}

footer div.lang a {
  color: white;
}

footer div.lang a, footer div.legal ul li a {
  margin: 0 10px;
}

footer div.legal {
  padding: 40px 0;
}

footer div.legal span {
  display: block;
}

footer div.legal ul li a {
  float: right;
}